@import './fonts/GTWalsheimPro/stylesheet.css';

body {
  font-size: large;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'GT Walsheim Pro', 'Helvetica Neue', 'Helvetica', 'Arial',
    sans-serif;
  color: white;
  background-color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
